{% extends "base.html" %}

{% block body %}
{{ super() }}
<br>
<article class="twitter-feed">
    <form action="/tweet">
      <input type="submit" value="Post a Tweet!">
    </form>
    <hr>
    {% for value in tweets.get_sorted_tweets(users, user) %}
        <article class="individual-tweet">
          {% if value["retweeter"] %}
            <h5>{{ "[Retweeted by @" + value["retweeter"] }}, {{ value["retweet_time"] }}]</h5>
          {% endif %}
          <h4>{{ "@" + value["sender"] }}, {{ value["timestamp"] }}</h4>
          <h3>{{ value["tweet"] }}</h3>
          {% if user %}
            <form action={{ "/retweet?tweet=" + "{}".format(value["id"]) }} method="post">
              <div class="form-example">
                <input type="submit" value="Retweet!">
              </div>
            </form>
          {% endif %}
          {% if value["sender"] == user %}
            <form action={{ "/delete?tweet=" + "{}".format(value["id"]) + "&global=False" }} method="post">
              <div class="form-example">
                <input type="submit" value="Delete.">
              </div>
            </form>
          {% elif value["sender"] in users[user]["following"] %}
            <form action={{ "/unfollow?unfollowee=" + value["sender"] }} method="post">
              <div class="form-example">
                <input type="submit" value="Unfollow">
              </div>
            </form>
          {% else %}
            <form action={{ "/follow?followee=" + value["sender"] }} method="post">
              <div class="form-example">
                <input type="submit" value="Follow">
              </div>
            </form>
          {% endif %}
          <hr>
        </article>
    {% endfor %}
</article>
<hr>



{% if user %}
  <form action="/tweet">
    <input type="submit" value="Post a tweet">
  </form>

  <form action="/logout">
    <input type="submit" value="Log out.">
  </form>

{% else %}

  <form action="/login">
    <input type="submit" value="Log in.">
  </form>

{% endif %}

<form action="/global_feed">
  <input type="submit" value="Go to global Tweeter feed">
</form>

<form action="/register">
  <input type="submit" value="Register a new user.">
</form>
{% endblock %}