<!doctype html>
<title>Tweeter</title>
<h1>Post a Tweet</h1>
<p> {{ message }} 
   
</p>
<form action="" method="post" class="form-example">
  <div class="form-example">
    <label for="tweet">Tweet: </label>
    <input type=text name=tweet id="tweet" required>
  </div>
  <p>   </p>
  <div class="form-example">
    <input type="submit" value="Tweet!">
  </div>
</form>
<br>

{% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
{% endfor %}

<hr>

{% if loggedin %}
<form action="/logout">
  <input type="submit" value="Log out.">
</form>
{% else %}
<form action="/login">
  <input type="submit" value="Log in.">
</form>
{% endif %}

<form action="/register">
  <input type="submit" value="Register a new user.">
</form>

{% if loggedin %}
<form action="/personal_feed">
  <input type="submit" value="Go to personal Tweeter feed.">
</form>
{% endif %}

<form action="/global_feed">
  <input type="submit" value="Go to global Tweeter feed.">
</form>