{% extends "base.html" %}

{% block body %}
{{ super() }}
<br>
<form action="" method="post" class="form-example">
  <div class="form-example">
    <label for="username">Username: </label>
    <input type=text name=username id="username" required>
  </div>
  <div class="form-example">
    <label for="password">Password: </label>
    <input type=text name=password id="password" required>
  </div>
  <div class="form-example">
    <input type="submit" value="Register!">
  </div>
</form>
<br>

<form action="/login">
  <input type="submit" value="Already registered?  Log in here.">
</form>

<form action="/global_feed">
  <input type="submit" value="Go to global Tweeter feed">
</form>
{% endblock %}